body,html
{
	margin: 0;
	scroll-behavior: smooth;
	background-color: rgba(0,0,0,0.7);
}
.header
{
	background: url(slike/header.jpg) center fixed;
	background-size: 100% 100%;
	padding: 350px 200px;
	text-align: center;
	color:rgba(255,255,255,0.9);
	font-size: 35px;
	font-family: Verdana;
}
nav
{
padding: 10px 0px;
text-align: center;
background-color: rgba(255,255,255,0.2);
width: 100%;
position: absolute;
letter-spacing: 2px;
font-family: Verdana;
}
li
{
	display: inline;
}
.LinkoviMeni
{
	text-decoration: none;
	color: white;
	font-size: 20px;
	font-weight: bold;
	padding: 0px 15px;
	font-family: Verdana;
	display: inline-block;
}
.LinkoviMeni:hover
{
	position: relative;
	bottom: 5px;
}
.LinkoviMeni:active
{
	color: rgba(255,1,1,0.7);
}
.sredina
{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
.div1
{
	margin-top: 20px;
	background-color: rgba(255,255,255,0.3);
	width: 30%;
	display: inline-block;
	border-radius: 5px;
	color:rgba(255,255,255,0.9);
	font-family: Verdana;
	padding: 0px 5px;
}
.slikaservis
{
	margin-top: 20px;
	width: 80%;
	height: 200px;
	border-radius: 5px;
}
.div-wrap
{
	text-align: center;
}
#linija
{
width: 80%;
border:2px solid rgba(255,0,0,0.7);
}
.sek1
{
	text-align: center;
}
#tekst
{
	color:rgba(255,255,255,0.9);
	font-size: 30px;
	letter-spacing: 1px;
	font-family: Verdana;
	text-align: center;
}
.vise1
{
	background-color:rgba(255,0,0,.5);
	font-size:15px;
	padding: 5px 10px;
	text-decoration: none;
	color:white;
	font-family: Verdana;
	font-weight: bold;
}
.vise1:hover
{
	transition: 0.5s ease;
	background-color:rgba(255,0,0,.7);
	
}
#paragraf
{
	font-family: Verdana;
	font-size: 18px;
	color:rgba(255,255,255,0.9);
	text-align: justify;
}
#linija2
{
width: 10%;
border:1px solid rgba(255,0,0,0.7);
margin-top: 15px;
}
.footer
{
	text-align: center;
	font-weight: bold;
	font-family: Verdana;
	padding: 5px 0;
	width: 100%;
	color: red;
}
.sek2
{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}
.slikag
{
	width: 100%;
	height: 80%;
}
.dvrh
{
	font-size:15px;
	padding: 20px 30px;
	text-decoration: none;
	color:white;
	font-family: Verdana;
	font-weight: bold;
	float: right;
	margin-right: 15px;
	margin-top: 5px;
	border-radius: 10px;
	background: url(slike/strelica.png);
	background-size: 100% 100%;
}
.dvrh:hover
{
	transition: 0.5s ease;
	background-color:rgba(255,0,0,.5);
}
.pz
{
z-index:1;
position: absolute;
top: 1850px;
font-weight: bold;
font-family: Verdana;
left:650px;
color:rgba(255,255,255,0.9);
font-size: 70px;
}
#cslovo
{
	color: red;
}
.divc
{
	text-align: center;
}
.padajuciElementi{
	margin-top: 5px;
    display: none;
    position: absolute;
    background-color: rgba(255,255,255,0.7);
    min-width: 100px;
}
.padajuciElementi a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.padajuciElementi a:hover {background-color:white;}

.padajuci:hover .padajuciElementi 
{
	display: block;
}
.padajuci {
    position: relative;
    display: inline-block;
}
#padtekst
{
	font-weight: bold;
	font-family: Verdana;
}
#padlink
{
	text-decoration: none;
	color: white;
	font-size: 20px;
	font-weight: bold;
	padding: 5px 17px;
	font-family: Verdana;
}
#padlink:hover
{
	background-color: rgba(255,255,255,0.7);
}
.divonama
{
	background-color: white;

}
.divonama
{
	background-color: white;
	text-align: justify;
	width: 100%;
	min-height: 300px;
	padding:28px 0px;
	border-radius: 20px;
	margin-top: 30px;
}
.headeronama
{
	background:url(slike/onama.jpg) center fixed;
	background-size: 100% 100%;
	padding: 400px;
	margin-left: auto;
	margin-right: auto;
}
.tekstjustify
{
	font-size: 18px;
	letter-spacing: 1px;
	font-family: Verdana;
	text-align: justify;
	margin-left: 30px;
	margin-right: 30px;
}
@keyframes naslov
{
	from 
	{color: rgba(255,255,255,0);}
	to 
	{color:rgba(255,255,255,0.9);}
}
.animnaslov
{
	animation-name: naslov;
	animation-duration: 3s;
	animation-timing-function: ease-in;
	animation-iteration-count: infinite;
	animation-timing-function: ease-out;

}
#linija3
{
	width: 50%;
border:1px solid rgba(255,0,0,0.7);
margin-top: 15px;
}
.slikeonama
{
	width: 150px;
	height: 100px;
	margin-left: 50px;
	margin-top: 30px;
}
.logo
{
	width: 80px;
	height: 60px;
	position: absolute;
	left: 50px;
	animation-name: logo;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-timing-function: ease;
}
@keyframes logo
{
	from
	{
		transform: rotateY(0deg);
	}
	to
	{
		transform: rotateY(360deg);
	}
}
.divgalerija
{
width: 100%;
height: 100%;
background-color: white;
margin-top: 50px;
border-radius: 15px;
padding: 30px 0px;
}
.headergalerija
{
	background-size: 100% 100%;
	padding: 400px;
	background: url(slike/galerija.jpg) center fixed;
}
.slikegalerija
{
	width: 50%;
	height: 50%;
	border-radius: 10px;
}
.headerkontakt
{
	background-size: 100% 100%;
	background: url(slike/garaza.jpg) center fixed;
	padding: 400px;
}
form
{
	text-align: center;

}
.divforme
{
	background-color: white;
}
.divkontakt
{
background-color: white;
width: 45%;
border-radius: 15px;
padding: 50px 0px;
display: inline-block;
text-align: justify;
border:1px solid red;
}
#tekst2
{
	margin-left: 30px;
	font-family: Verdana;
	font-size: 18px;

}
.divbelo
{
	background-color: white;
	border-radius: 15px;
	margin-top: 30px;
	padding: 50px 0px;
}
form
{
	background-color: white;
	width: 40%;
	padding: 180px 30px;
	margin-left: auto;
	margin-right: auto;
	font-family: Verdana;
	border-radius: 20px;
	margin-top: 30px;
}
input[type=text]
{
	padding: 10px;
	border-radius: 5px;
	width: 200px;
}
input[type=text]:focus
{
	background-color: lightblue;
}
input[type=number]
{
	width: 200px;
	padding: 10px;
}
fieldset
{
	border-color: red;
	border-radius: 10px;
}
legend
{
	font-family: Verdana;
	font-weight: bold;
	text-align: left;
}
select
{
	width:220px;
	 padding: 10px 20px;
     border-radius: 5px;
 
}
option
{
	font-family: Verdana;
}
input[type=submit]
{
	background-color:red;
	font-size:15px;
	padding: 5px 15px;
	color:white;
	font-family: Verdana;
	font-weight: bold;
	border:none;
}
input[type=reset]
{
	background-color:red;
	font-size:15px;
	padding: 5px 10px;
	color:white;
	font-family: Verdana;
	font-weight: bold;
	border:none;
}
input[type=submit]:hover
{
	color:black;
}
input[type=reset]:hover
{
	color:black;
}
input[type=email]
{
	width: 200px;
	padding: 10px;
}
input[type=email]:focus
{
	border: 3px solid red;
}
.headerservis
{
	background:url(slike/redovanservis.jpg) fixed;
	background-size: 100% 100%;
	padding: 400px 0px;
}
.levo
{
	float:left;
	width: 250px;
	height: 250px;
	margin-left: 50px;
	margin-right: 15px;
	border-radius: 5px;
}
.headerservis
{
	background:url(slike/redovanservis.jpg) fixed;
	background-size: 100% 100%;
	padding: 400px 0px;
}
.naslovh2
{
	font-family: Verdana;
	text-align: center;
}
.headerauspuh
{
	background:url(slike/auspuhheader.jpg) center fixed;
	background-size: 100% 100%;
	padding: 400px 0px;
}
.headerklima
{
	background:url(slike/klimahead.jpg) center fixed;
	background-size: 100% 100%;
	padding: 400px 0px;
}
.slikaklime
{
	border-radius: 5px;
	margin-left: 350px;
}
@media screen and (max-width: 600px)
{
	.LinkoviMeni
	{
		width: 100%;
	}
	.div1
	{
     width: 100%;
	}
	
	.divkontakt
	{
		width: 100%;
	}
	form,fieldset,textarea
	{
		width: 100%;
	}
	.slikaklime
	{
		max-width: 70%;
		margin-left: 60px;
	}
	#paragraf
	{
	text-align: left;
	}
}

